<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="vendor/css/all.min.css">
    <link rel="stylesheet" href="vendor/css/bootstrap.min.css">
    <link rel="stylesheet" href="vendor/css/style.css">

    <script src="vendor/js/all.min.js"></script>
	<script src="vendor/js/bootstrap.bundle.min.js"></script>
</head>
<body>

	<header>
		<div class="container">
		  <nav class="navbar navbar-expand-lg navbar-light">
			<div class="container-fluid">
			  <a class="navbar-brand text-success" href="index.html">
				<img
				  src="#"
				  alt="SPC log0"
				  height="24"
				  class="d-inline-block align-text-top"
				/>
			  </a>
			  <button
				class="navbar-toggler"
				type="button"
				data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent"
				aria-expanded="false"
				aria-label="Toggle navigation"
			  >
				<span class="navbar-toggler-icon"></span>
			  </button>
			  <div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				  <li class="nav-item">
					<a class="nav-link text-dark" href="about.html">About</a>
				  </li>
				  <li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="services.html" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Services </a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
					  <li>
						<a class="dropdown-item" href="{% url 'qanda:question_list' %}">Text questions</a>
					  </li>
					  <li>
						<a class="dropdown-item" href="{% url 'qanda:question_voice_list' %}">Voiced questions</a>
					  </li>
					</ul>
				  </li>
	  
				  <li class="nav-item">
					<a class="nav-link text-dark" href="{% url 'job:job_list' %}"
					  >Jobs</a
					>
				  </li>
				  <li class="nav-item">
					<a
					  class="nav-link text-dark"
					  href="{% url 'archive:archive_list' %}"
					  >Archives</a
					>
				  </li>
				</ul>
			  </div>
			</div>
		  </nav>
		</div>
	  </header>
		
	<div class="container">

		<!-- Button trigger modal -->
		<img src="images/SPC_Muftau.jpg" width="180" height="230" type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
  
  		<!-- Modal -->
  		<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog">
	  			<div class="modal-content">
					<div class="modal-header">
		  				<h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
		  				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
		  				...
					</div>
					
	  			</div>
			</div>
  		</div>	
	</div>
</body>
</html>